.main__footer {
  background-color: rgb(var(--foreground-color));

  .footer__wrapper {
    padding: 5rem 0;
  }

  a {
    color: #fff;
  }

  .footer__copyright {
    color: rgb(var(--primary-foreground-color));
    display: block;
    text-align: center;
    padding: 1rem;
  }
}