:root {
  --background-color: 255, 255, 255;
  --foreground-color: 0, 0, 0;

  --primary-color: 2, 102, 252;
  --primary-foreground-color: 255, 255, 255;
  --secondary-color: 186, 35, 220;
  --secondary-foreground-color: 255, 255, 255;

  --shadow-color: 2, 57, 150;
}