a[href] {
  position: relative;
  text-decoration: none;
  color: rgb(var(--primary-color));
  transition: .25s color ease-in-out;



  &::before {
    display: inline-block;
    position: absolute;
    background-color: rgb(var(--primary-color));
    content: '';
    width: 0%;
    height: 2px;
    bottom: -.25rem;
    right: 0;
    transition: .3s width ease-in-out;
    border-radius: 1rem;
  }

  &:hover {
    color: rgb(var(--primary-color), .75);

    &::before {
      left: 0;
      right: auto;
      width: 100%;
      background-color: rgb(var(--primary-color), .75);
    }
  }
}

a[href].fullsize__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;

  &.unstyled::before {
    display: none;
  }
}