.hero__slider {
  width: 100%;
  background-color: rgb(var(--primary-color), .25);
  height: 90dvh;
}

.partners__slider {
  width: 100%;
  background-color: rgb(var(--primary-color), .25);
  height: 15dvh;
}